header {
    position: fixed;
    top: 0;
    min-height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: black;
}

#header-img {
    width: 140px;
    margin: auto;
    margin-left: 5vw;
    padding-right:15vw;
}

@media (max-width: 800px) {
    header {
        flex-wrap: wrap;
    }
}

.nav-link {
    font-size: 25px;
    color: white;
    padding: 50px;
}

nav > ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    padding-top: 70px;
    background-image: url("https://i.stack.imgur.com/2KkOn.png");
    background-color: gray;
}

h1 {
    text-align: center;
    font-size: 26px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
}

#customer-service {
    text-align: center; 
}

iframe {
    width: 956px;
    height: 538px;
    border: 5px solid white;
}

@media (max-width: 700px) {
    iframe {
        width: 400px;
        height: 250px;
    }
}

.products-container {
    display: flex;
    justify-content: center;
    padding:15px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 5);
    margin: 10px 20px;
    border: 2px solid;
}

.product > .prod-name {
    background-color: #de4318;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.prod-pic {
    width: 100%;
}  
th {
    padding: 12px;
    font-size: 22px;
    border-bottom: 1px solid;
}
td {
    padding: 8px;
    font-size: 18px;
    border:1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input[type=text], [type=email] {
    width: 60%;
    padding: 8px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    padding: 40px;
}

#customer-service {
    border: 2px solid;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

#start {
    text-align: center;
    padding: 30px;
}

.footer {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 20px;
}