body {
    text-align: center;
    max-width: 800px;
}


.cardButton {
    background-image: url(images/back.jpg);
    width: 100px;
    margin: 10px 8px;
    background-size: cover;
    height: 100px;
    display: none;
}

#turns {
    height: 30px;
    width: 50%;
    text-align: left;
    line-height: 2.5;
    margin-left: 14px;
}

#card-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cad8de;
    border: 1px solid red;
    visibility:hidden;
}

#clear {
    visibility: hidden;
    background-color: #645853;
    color: #FDFFFC;
    padding: 8px;
    margin-bottom: 5px;
}

.start-game-button {
    padding: 5px 3px;
    margin-right: 5px;
}

#start-game-header {
    margin-bottom: 12px;
}