.gridbox{
    max-width: 550px;
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-rows: 60px 40% 30% 30% 80px 60px;
    grid-gap: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    grid-column: 1/4;
    background-color:#54d5eb;
}
.hero{
    background-color:#d7c9e3;
}
.main{
    background-color: #f4c746;
    grid-area: 2/ 2/ 4 /4;

}
.side{
    background-color: #9ec363;
    grid-row: 3 / 5;
}
.extra{
    background-color:#898989;
    grid-column: 2 /4;
}
.related-img{
    background-color:#44b673;
    grid-column: 1 /3;
}
.related-posts{
    background-color:#f2cbdd;
}
.footer{
    background-color:#fca74b;
    grid-column:1 /4;
}