.container{
    margin: 25px;
    border: 3px solid red;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    justify-items: center;
    padding: 3px;

}

.full{
    background-color: lightblue;
    width: 100%;
    
}

.middle{
    background-color: lightblue;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50vw;
    height: 50vh;
}
