body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.myjumbo{
    width: 100%;
    height: 95vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(job-interview.jpg);
    color: white;
    align-items: center;
    margin-bottom: 0;
}

.navbar-brand{
    font-size: 1.5rem;
}

.navbar-brand > span{
    color: #8ac338;
    font-size: 1.2rem;
}

.display-4{
    margin-top: 6rem;
}

.form-row{
    justify-content: center;
    padding-top: 3rem;
}

.jobtypes{
    background-color: #8abf3b;
    height: 220px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.page-section{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    max-width:none;

}

.view{
    background-color: #8abf3b;
    padding 25px;
    margin: 25px;
}

.divider-line{
    background-color:rgba(255,255,255, .8);
    height: 4px;
    width: 30%;
    border-radius:2px;
    margin-bottom: 10px;
}
.table{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.btn-primary{
    background-color: #8abf3b;
    margin: 2rem;
    border:none;
}
.why-choose{
    background-color: #f6f6f6;
}

.section-header{
    margin-top: 2rem;
}

.section-divider{
    background-color: black;
    height: 5px;
    width: 50px;
    border-radius: 3px;
    margin: 2rem auto;
}