.pattern1{
    height: 400px;
    width: 400px;
    background-color: pink;
    background-image: linear-gradient(45deg, orange 25%, transparent 25%, transparent 75%, beige 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    margin:30px;
}

.pattern2{
    display: grid;
    grid-gap: 8px;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    margin: 30px;
}

.color1{
    background-color: rgb(220, 220, 220);
}
.color2{
    background-color: rgb(169, 169, 169);
}
.color3{
    background-color: rgb(104, 104, 104);
}
.color4{
    background-color: rgb(16, 16, 16);
}

.pattern3{
    height: 400px;
    width: 400px;
    background-color:white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
    margin: 30px;
}